# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.test
.env.production
.env.local
env/**/*
!env/**/.env.example

# OS metadata
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.project
.classpath
.cproject
.settings/
*.launch
*.sublime-workspace
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/app/src/main/res/values/strings.xml
!android/app/src/main/res/values/strings.xml.example

# Docker
docker/*/data
docker/*/log
docker-compose.override.yml

# pnpm store
.pnpm-store/
backend/.pnpm-store/

# Generated Artifacts
apk/

# Image Resources
圖片/
